*{
    margin: 0px;
    padding: 0px;
}
.mecon{
    background-color: rgb(32, 25, 25);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-photo{
    width: 120px;
}
.menus{
    display: flex;
}
.item{
    margin-right: 10px;
    padding-right: 8px;
    font-size: 18px;
    cursor: pointer;

}
.item:hover{
    color: blue;
}
.bannarcon{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    color: white;
   
     color: white;
    background-image: url("images/background.png"),
    linear-gradient(45deg,#0a0909,#140707)
    
}
.imgb{
    width: 300px;
}
.title{
    font-size: 60px;
    font-weight: bold;
}
.para{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
}
.btn:hover{
    color: rgb(48, 27, 207);
}
.aboutcon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 25px;
}
.about-title{
    
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.abus{
    font-size: 50px;
    font-weight: bold;
}
.box{
    width: 230px;
    height: 280px;
    box-shadow: 4px 5px 15px grey;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;

}
.icon{
    width: 70px;
}
.box-title{
    padding: 10px;

}
.box-des{
    padding: 8px;
}
.servicecon{
    color: white;
    justify-content: space-around;
    background-image: url(images/background.png);
    background-color: rgb(21, 20, 20);
}
.box-con{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
footer{
    width: 100%;
    height: 70vh;
    background-image: url("./asset/image/footer-bg.png"),linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-repeat:no-repeat;
    background-blend-mode: overlay;
    color: white;
    line-height: 1.8em;
   
}
.footer-container{
    display: flex;
    width: 75%;
    height: 60vh;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    /* padding: 20px; */
    border-bottom: 1px solid gray;
}
.logo-box{
    width: 25%;
}
.logo-box img{
    width:170px;
}

.copy{
    text-align: center;
    padding: 15px;
}
.fa-solid{
    margin-right: 7px;
}
.footer-title{
    margin-bottom: 30px;
}
.icons{
    /* text-align: center; */
    margin-top:20px;
}
.fa-brands{
    margin: 10px;
    font-size:20px;
}